/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  margin: 0px;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/* layout */

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

/* title */

.title {
  margin-bottom: 110px;
}

/* media */

.media {
  width: 300px;
  height: auto;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* input */

.input {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.input__title {
  display: flex;
  justify-content: space-between;
}
.input__label {
  color: rgb(180, 180, 180);
  font-size: 11px;
}
.input input,label {
  background-color: rgb(240, 240, 240);
}
.input input {
  border-bottom: 1px solid rgb(0, 0, 0, 0);
  width: 100%;
}
.input label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.input > input:focus {
  border-bottom: 1.5px solid rgb(165, 165, 165);
}
.input > input:invalid + .error {
  display: block;
}
.input__link > a {
  color: rgb(170, 123, 214);
  font-size: 14px;
}
.input label svg {
  cursor: pointer;
}
.error {
  display: none;
  color: red;
  font-size: 14px;
}

/* button */

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: none;
  background-color: rgb(71, 36, 196);
  color: rgb(220, 194, 244);
  cursor: pointer;
}

/* divider */

.divider {
  margin-top: 25px;
}
.divider::after {
  display: block;
  content: '';
  border-bottom: 1px solid rgb(218, 218, 218);
}